services:
  app-blue:
    container_name: cicd-study-blue-app
    image: rudals4549/cicd-study:latest
    ports:
      - 8080:8080
    environment:
      SPRING_PROFILES_ACTIVE: dev,blue

  app-green:
    container_name: cicd-study-green-app
    image: rudals4549/cicd-study:latest
    ports:
      - 8081:8080
    environment:
      SPRING_PROFILES_ACTIVE: dev,green

  api-gateway:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - 80:80
    hostname: api-gateway
    depends_on:
      - app-blue
      - app-green
